*                                      { box-sizing: border-box; }
a                                      { color: inherit; }
a.inhoud2                              { display: block; font-size: 1.3rem; font-weight: bold; text-align: left; text-transform: uppercase; }
a.inhoud3                              { display: block; line-height: 1.5rem; }
a.knop                                 { border-radius: 0.5rem; box-shadow: 0.3rem 0.3rem 0.5rem #333333; display: inline-block; margin: 1rem 0; max-width: 100%; padding: 1.5rem 2rem; text-align: center; width: 36rem; }
a.knop.primair                         { background-color: #f28d2d; color: #000000; }
a.knop.secundair                       { background-color: #999999; color: #000000; }
a.url                                  { word-break: break-all; }
blockquote                             { font-style: italic; text-align: center; }
body                                   { background-color: #ccc; font-family: arial, sans-serif; margin: 0; padding: 0 1rem; }
caption                                { font-style: italic; margin-bottom: 0.5rem; }
cite                                   { display: block; font-weight: bold; margin-bottom: 1rem; text-align: center; }
div.midden                             { text-align: center; }
div.ondertitel                         { font-weight: bold; }
div.scrollbaar                         { margin: 1rem 0; overflow: auto; }
div.scrollbaar > table                 { margin: 0; }
div.titel                              { background-color: #f28d2d; font-size: 1.5rem; font-weight: bold; margin: 1rem 0 0.5rem; padding: 0.5rem; text-transform: uppercase; }
footer                                 { padding: 1rem 0 2rem; }
h1                                     { font-size: 1.5rem; margin: 1rem 0 0.5rem; text-transform: uppercase; }
h2                                     { margin: 1rem 0 0.5rem; text-transform: uppercase; }
h3                                     { margin: 1rem 0 0; text-transform: uppercase; }
h4                                     { color: #97318d; font-size: 1.1rem; margin: 1rem 0 ; text-transform: uppercase; }
h5                                     { color: #f28d2d; font-size: 1.1rem; margin: 1rem 0 0.5rem; text-transform: uppercase; }
h1 span, h2 span                       { background-color: #f28d2d; display: inline-block; padding: 0.5rem; }
img                                    { display: block; height: 25vw; margin: 1rem auto; }
img.breed                              { display: block; height: auto; margin: 1rem auto; max-width: 30rem; width: 100%; }
img.half                               { display: block; height: auto; margin: 1rem auto; max-width: 30rem; width: 50%; }
img.voorkant                           { border-radius: 0.5rem; height: auto; margin: 1rem auto; width: 100%; }
li                                     { margin: 1rem 0; text-align: justify; }
p                                      { overflow: auto; text-align: justify; }
p.kop                                  { font-size: 1rem; font-weight: bold; margin: 1rem 0 -1rem; }
header, section                        { background-color: white; border-radius: 0.5rem; margin: 1rem 0; overflow: auto; padding: 0 1rem; }
table                                  { border-collapse: collapse; margin: 1rem 0; overflow: scroll; width: 100%; }
table td, table th                     { padding: 0.2rem; text-align: left; }
table tbody th                         { font-weight: normal; }
table.belijnd td,
table.belijnd th                       { border: 1px solid #97318d; }
table.belijnd th:first-child           { border-right-width: 3px; }
table.belijnd td:first-child,
table.belijnd th:first-child           { border-left-width: 0; }
table.belijnd td:last-child,
table.belijnd th:last-child            { border-right-width: 0; }
table.belijnd thead th                 { border-top-width: 0; }
table.belijnd tbody tr:first-child > * { border-top-width: 3px; }
table.belijnd tbody tr:last-child > *  { border-bottom-width: 3px; }
table.belijnd tfoot th                 { border-bottom-width: 0; }
table.kaal td,
table.kaal th                          { vertical-align: top; }
table.getallen tr > *:nth-child(2),
table.getallen tr > *:nth-child(3),
table.getallen tr > *:nth-child(4),
table.getallen tr > *:nth-child(5),
table.getallen tr > *:nth-child(6)     { text-align: right; }
